<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="gitlab" value="http://gitlab.kibrit.tech/api/v4/projects/193/packages/nuget/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <apikeys>
        <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAL02s2NQy3E6bgua7bSVt3AAAAAACAAAAAAADZgAAwAAAABAAAACcUV6pffGRUCrks5SK5XqoAAAAAASAAACgAAAAEAAAABPG3Jvyt9aDNbXmi9NH5nlAAAAAkT7g2PCsmOCIKKLPfvQRmGnr+n1ofZ+Hl3hE76vuXj4MoxWe/JqhU9iGe7zBjfgByJZea+n9Dal9PcyDmQxU1hQAAACd0DVKl9XEe8AGk79Yc8BTz7RLBw==" />
        <add key="https://nuget.smbsrc.net/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAL02s2NQy3E6bgua7bSVt3AAAAAACAAAAAAADZgAAwAAAABAAAAAYAZiNA+5wu62//yi5fcWoAAAAAASAAACgAAAAEAAAAE+g8qDXNeWD0QSQfUtB09NAAAAAc6JzDpf1DB0mBf8FC83O+ntIa0TH38HV0PQGRzscJqfbFT9cG1cZwnEBjt4nO1/ekdSEzjwCNiWGFID+2PIj8RQAAABpgqOJGGt3mHBdk+SzOJCBbw2b0Q==" />
    </apikeys>
    <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="%NUGET_CORE_READ_USERNAME%" />
            <add key="ClearTextPassword" value="%NUGET_CORE_READ_PASSWORD%" />
        </gitlab>
    </packageSourceCredentials>
</configuration>